@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    /* Colors */
    --lightOrange: #c46e24;
    --darkBrown: #2e2517;
    --brown: #90591a;
    --pureWhitw: #fff;
    --dark: #0c0403;

    /* Scale */
    --testimonialScale: .7;


    /* Max Widths */
    --previewContainerWidth: 35em;
    --googleMapMaxWidth: 45em;

    /* Min Heights */
    --previewContainerHeight: 40em;
    --featureOverlayMinHeight: 100%;
    --googleMapMinHeight: 28em;

    /* Widths */
    --featurePicWidth: 12em;
    --featureOverlayWidth: 110%;
    --testimonialBoxWidth: 75%;


    /* Heights */
    --featureOverlayHeight: 100%;
    --serviceLineHeight: .15em;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.title-font {
    font-family: serif;
}

/* Navigation */

.side-nav {
    width: clamp(15em, 80%, 20em);
}

.side-nav .nav-list {
    margin-top: 1.5em;
}

.side-nav .nav-list > ul {
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}

.side-nav .nav-list > ul > * {
    display: flex;
    align-items: center;
    gap: .6em;
    font-size: .9em;
    font-weight: 600;
}

.side-nav .nav-list > ul > *.active {
    background-color: #eee;
    padding: .8em 1em;
    border-radius: 6em;
}

.side-nav .nav-list > ul img {
    width: 1.7em;
}

.nav-active-effect {
    position: absolute;
    left: -5%;
    width: 0;
    bottom: 0;
    height: 2px;
    z-index: -1;
    background-color: var(--lightOrange);
    border-radius: .5em;
    transition: all .8s;
}

.nav-horizontal > li {
    cursor: pointer;
    padding-inline: 1.5em;
}

.nav-horizontal > :is(
    li:nth-of-type(1):hover, 
    li:nth-of-type(2):hover,
    li:nth-of-type(3):hover,
    li:nth-of-type(4):hover,
    li:nth-of-type(5):hover) 
  {
    transition: all .4s;
  }   


.nav-horizontal li:nth-child(1).active  ~ .nav-active-effect {
    left: 3%;
    width: 15%;
}

.nav-horizontal li:nth-child(2).active  ~ .nav-active-effect {
    left: 26%;
    width: 18%;
}

.nav-horizontal li:nth-child(3).active  ~ .nav-active-effect {
    left: 53%;
    width: 16%;
}

.nav-horizontal li:nth-child(4).active  ~ .nav-active-effect {
    left: 78%;
    width: 18%;
}


.nav-horizontal > :is(li:nth-of-type(1):hover ~ .nav-active-effect) {
    left: 3%;
    width: 15%;
}

.nav-horizontal > :is(li:nth-of-type(2):hover) ~ .nav-active-effect {
    left: 26%;
    width: 18%;
}

.nav-horizontal > :is(li:nth-of-type(3):hover) ~ .nav-active-effect {
    left: 53%;
    width: 16%;
}

.nav-horizontal > li:nth-of-type(4):hover ~ .nav-active-effect {
    left: 78%;
    width: 18%;
}


/* Hero Section */
.hero-img {
    width: 80%;
    max-width: 17em;
    aspect-ratio: 1;
}

.aspect-1 {
    aspect-ratio: 1;
}

.hero-title {
    font-size: clamp(2em, 10vw, 3.6em);
}
 
.hero-section {
    max-width: 40em;
}

.message-modal span {
    font-size: .5em;
}

.message-modal h3 {
    font-size: .6em;
} 

.triangle {
  width: 0;
  height: 0;
   border-left: 10px solid transparent;
   border-top: 15px solid #fff;
   border-right: 10px solid transparent;

}

.offers-min-height {
    min-height: 10em;
}

.about-grid-container {
    display: grid;
    grid-template-areas: 
      'events foods'
      'desc desc'
      'serving serving'
    ;
    gap: .6em;
    row-gap: 3em;
    max-width: 45em;
    margin-inline: auto;
}

.about-grid-container > *:nth-child(1) {
    grid-area: events; 
}

.about-grid-container > *:nth-child(2) {
    grid-area: foods; 
}

.about-grid-container > *:nth-child(3) {
    grid-area: desc;
}

.about-grid-container > *:nth-child(4) {
    grid-area: serving;
}

.responsive-title {
    font-size: clamp(2em, 4vw, 4em);
}

.about-grid-container .about-card:hover img {
    transform: translate(0,0);
}

.button-scale-effect {
    position: relative;
    overflow: hidden;
    transition: all .4s;
    z-index: 3;
}

.button-scale-effect::before {
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #fff;
    transition: all .6s;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    scale: 0;
    z-index: -1;
}

.button-scale-effect:hover::before {
    scale: 5.5;
}

.button-scale-effect:hover {
    color: #222;
}

/* Product Preview */

.preview-container {
    min-height: var(--previewContainerHeight);
    justify-content: space-between;
    max-width: var(--previewContainerWidth);
    width: 100%;
}

.preview-container > * {
    flex: 1;
    transition: all .7s;
}

.preview-container > * > * {
    transition: all .8s;
}

.preview-container > *:hover {
    flex: 3;
}

.preview-container > *:hover .preview-overlay {
    background-color: rgba(0,0,0,0.8);
}

.preview-container > *:hover .desc {
    bottom: 50%;
    right: 50%;

    translate: 50% 0;
}

.preview-container > *:hover .desc > * {
    padding: 0;
    color: var(--pureWhitw);
    background-color: transparent;
}

.preview-container > *:hover .desc > p {
    right: 50%;
    translate: 50% 0;
}

.preview-container > *:hover .desc > h3 {
    font-size: 2em;
    margin-top: .6em;
}

.preview-container > * .info-box {
    max-width: 26em;
}

.preview-container > *:hover .info-box {
    top: 55%;
    transform: translateY(0);
}

.preview-section {
    max-width: 80em;
    width: 100%;
}

/* Services Section */
.feature-overlay {
    width: var(--featureOverlayWidth);
    height: var(--featureOverlayHeight);
    min-height: 20em;
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
}

.feature-overlay > div {
    width: var(--featurePicWidth);
    padding: .5em;
    right: 7%;
}

.service-title::before {
    content: '';
    position: absolute;
    bottom: -.5em;
    width: 100%;
    height: var(--serviceLineHeight);
    background-color: var(--lightOrange);
}

/* Testimonial Page */

.testimonials-container {
    max-width: 75em;
} 

.testimonials-circular {
   width: 90%;
   max-width: 27em;
   aspect-ratio: 1;
   border-radius: 50%;
   background-color: var(--lightOrange); 
}

.testimonials-circular .testimonial-box {
    font-size: .7em;
    width: var(--testimonialBoxWidth);
}

/* Location Section */
.google-map-con {
    border-radius: 1em;
    width: 100%;
    max-width: var(--googleMapMaxWidth);
    height: var(--googleMapMinHeight);
}

@media (min-width: 375px) {

    :root {
        --testimonialBoxWidth: 67%;
        --testimonialScale: .8;
    }

    .testimonials-circular .testimonial-box {
        font-size: .7em;
    }

    .offers-min-height {
        min-height: 12em;
    }
}

@media (min-width: 440px) {

    :root {
        --testimonialBoxWidth: 60%;
        --testimonialScale: .9;
    }

    .testimonials-circular .testimonial-box {
        font-size: .8em;
    }


}

@media (min-width: 620px) {
    
    :root {
        --featurePicWidth: 17em;
        --featureOverlayWidth: 105%;
    }

    .preview-container > *:hover {
        flex: 2;
    }

    .preview-container > *:hover .info-box {
      /*   transform: translateY(-40%); */
      top: 56%;
    }

    /* Services Section */
    .feature-overlay > div {
        padding: .8em;
    }
}

@media (min-width: 970px) {

     :root {
        --previewContainerWidth: 70em;
        --previewContainerHeight: 28em; 


        /* Services */
        --featurePicWidth: 12em;
        --serviceLineHeight: .09em;

        /* Testimonials */
        --testimonialBoxWidth: 55%;
        --testimonialScale: 1;

        --googleMapMinHeight: 35em;

       
    }

    .hero-title {
        line-height: 1.2;
        font-size: 3em;
    }

    .hero-img {
        width: 40%;
        max-width: 33em;
    }

    .hero-section {
        width: 95%;
        max-width: 70em;
    }


    .hero-section .hero-description {
        width: 50%;
        
    }


    /* About us */

    .about-grid-container {
        max-width: 60em;
        grid-auto-columns: 1fr;
        grid-template-areas: 
          'serving desc'
          'events foods'
         ;

        row-gap: 5em;
    }

    .offers-min-height {
        min-height: 15em;
    }

    /* Testimonials Section */
    .testimonials-circular {
        max-width: 35em; 
     }

      .testimonials-circular .testimonial-box {
        font-size: .9em;
    }


    .message-modal h3 {
        font-size: .8em;
    }

     /* Location Section */
     .location-section {
        max-width: 55em;
     } 
    
}

@media (min-width: 1180px) {

    :root {
        --featurePicWidth: 19em;
        --featureOverlayWidth: 110%;

        /* Testimonials */
        --testimonialBoxWidth: 60%;
        --testimonialScale: .9;

         /* Location Section */
         --googleMapMaxWidth: 68em;
         --googleMapMinHeight: 40em;
    }

    .hero-title {
        font-size: 4.2em;
        padding-right: .7em;
    }

    .hero-section {
        width: 100%;
        max-width: 90em;
        min-height: 80vh;
    }

    .hero-section .hero-description {
        width: 58%;
        max-width: 39em;
    }

    /* About us */

    .about-grid-container {
        max-width: 75em;
        width: 95%;
        grid-auto-columns: 1fr;
        grid-template-areas: 
          'serving desc desc'
          'serving events foods'
         ;
        column-gap: 2em;
        row-gap: 4em;
    }

    .about-grid-container > *:nth-child(3) {
        padding-right: 35%;
    }

    .about-grid-container > *:last-child img {
        object-position: 67% 0;
    }

    /* Product Preview */
    .preview-section > div > h2 {
        line-height: 1;
    }

    .preview-container > *:hover .desc > h3 {
        font-size: 2.5em
    }

    /* Testimonials */
    h2.testimonial-title {

        line-height: 1.2;

        font-size: 3.8em;
    }

    .testimonials-circular {
        max-width: 33em; 
     }

      /* Location Section */
      .location-section {
        max-width: 70em;
     } 

    
}

@media (min-width: 1280px) {
    .seperated-feature {
        padding-top: 6em;
    }

    .h2.testimonial-title {
        font-size: 4em;
    }

    .testimonials-container {
        gap: 12em;  
     } 

    
}

@media (min-width: 1580px) {

    /* .hero-title {
        font-size: 5em;
    } */

    .hero-section .hero-description {
        max-width: 45em;
    }   

}